body {
  font-family: Arial, sans-serif;
  margin: 2px;
  padding: 0;
  background-color: #efd1a0;
}

header {
  text-align: center;
}

h1 {
  margin: 20px 0 0;
}

h2 {
  margin: 10px 0;
}

nav {
  margin-bottom: 20px;
}

.button {
  text-decoration: none;
  padding: 2px 20px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 4px;
  background: #fff;
}

.button:hover{
  background-color: #808080;
  transition: 0.7s;
}

input {
  margin-bottom: 10px;
  padding: 2px 20px;
}

ul {
  list-style: square;
  padding: 2px 20px;
  margin: 0;
}

li {
  margin-bottom: 8px;
}

button {
  margin-left: 8px;
  padding: 2px 20px;
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
  transition: 0.7s;
}

button#completa{
  color:#000000;
  background-color:#adff2f;
}

button#completa:hover{
  background-color: #008000;
}

button#modifica{
  color:#000000;
  background-color:#ffa500;
}

button#modifica:hover{
  background-color: #ff4500;
}

button#elimina{
  color:#000000;
  background-color:#ff0000;
}

button#elimina:hover{
  background-color: #8b0000;
}

footer {
  font-weight: bold;
  margin-top: auto;
  font-size: 12px;
  color: #666;
  padding: 2px;
  position: absolute;
  left: 2px;
  bottom: 0;
}